<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartsports.nbaalarm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme">
        <activity android:name=".activities.Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".receivers.AlarmReceiver">
            <intent-filter>
                <action android:name="com.smartsports.nbaalarm.ALARM_TRIGGER"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.BootReceiver" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <activity
            android:name=".activities.DetailedGame"
            android:parentActivityName=".activities.Start">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartsports.nbaalarm.activities.Start"/>
        </activity>
        <activity android:name=".activities.Alarm" />
        <activity
            android:name=".activities.TeamList"
            android:parentActivityName=".activities.Start">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.smartsports.nbaalarm.activities.Start"/>
        </activity>
    </application>

</manifest>